body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.usernamehead {
text-align: center;

}
#chooseusers{

	margin:1em 2em;
}
.longslider .ui-slider-switch {
	width:9em;
}